/* navbar CSS */
nav{
    background-color: #2D2D2D;
    height: auto;
}
nav a{
    color: white;
}
nav a:hover{
    color: #C20000;
}
nav img{
    width: 90px;
}
.container{
    color: #B32205;
    float: right;
    width: 100%;
    height: auto;
    text-align: right;
  }
  
  .container ul{
    list-style: none;
  }
  .container ul li{
    font-size: 25px;
    display: inline;
    margin-right: 30px;
  }
  .container a{
    color: aliceblue;
    text-decoration: none;
    position: relative;
  }
  .container a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    top: 35px;
    left: 0;
    background-color: #C20000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .container a:hover{
    color: #C20000;
  }
  
  .container a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /*Banner CSS*/
  .banner{
    width: 100%;
    height: 750px;
    overflow: hidden;
    margin: auto;
    background-color: red;
    display: flex;
    justify-content: center;
  }

  .ourteam{
    margin: 10px;
    color: #7F5A57;
    text-decoration: underline;
    display: flex;
    justify-content: center;
  }

  .image-gallery{
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #676767;
  }
  .slide{
    float: left;
    margin-right:50px ;
    /* display: flex; */
    justify-content: center;
  }
  .slides{
  white-space: nowrap;
  overflow: scroll;
  display: flex;
  }
  .slides > div {
    scroll-snap-align: start;
  }
  
  .slides img {
    width: 540px;
    object-fit: contain;
  }
  
  .slides::-webkit-scrollbar {
    display: none;
  }